@use 'sass:list';
@use 'src/styles/colors';
@use 'src/styles/mixins';
@use 'src/styles/typography-variables';


.footer-right-text {

  margin-top: 33px;

  &__text {
    font-size: 14px;
    font-weight: 400;
    color: rgba(35, 38, 54, 1);
    margin-right: 5px;
  }
  &__date {
    font-size: 14px;
    font-weight: 400;
    color: rgba(35, 38, 54, 1);
  }

  &__text-white {
    font-size: 14px;
    font-weight: 400;
    color: #9799a9;
    margin-right: 5px;
  }
  &__date-white {
    font-size: 14px;
    font-weight: 400;
    color: #9799a9;
  }
}
