@use 'src/styles/mixins';

.filters {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;

  @include mixins.media('xs', 'md') {
    column-gap: 2rem;
  }

  @include mixins.media('md', 'infinity') {
    column-gap: 4.2rem;
  }

  &__item {
    /*!*/
  }
}
