@use "src/styles/colors";
@use "src/styles/mixins";
@use "src/styles/typography-variables";

.search-link {
  $selector: &;

  color: #000;
  display: grid;
  opacity: 0.5;
  transition: opacity 0.2s ease;

  &_base-background-color {
    &_blue,
    &_darkBlue,
    &_deepBlue,
    &_green,
    &_orange,
    &_semiRed {
      #{$selector}__icon {
        color: colors.$text-color_dark-theme;
      }
    }
  }

  &:hover {
    opacity: 1;
  }

  &__icon {
    height: 2.2rem;
    width: 2.2rem;
  }
}
