@use 'src/styles/colors';
@use 'src/styles/mixins';
@use 'src/styles/typography-variables';

.als-copyright {
  $selector: &;

  display: flex;

  @include mixins.media('xs', 'md') {
    flex-direction: column-reverse;
  }

  &_base-background-color {
    &_default {
      #{$selector}__link {
        &:hover {
          color: colors.$text-color_light-theme;
        }
      }
    }

    &_blue,
    &_darkBlue,
    &_deepBlue,
    &_green,
    &_orange,
    &_semiRed {
      #{$selector}__link {
        &:hover {
          color: colors.$text-color_dark-theme;
        }
      }
    }
  }

  &__logo {
    fill: currentColor;
    height: auto;
    margin-right: 1rem;
    opacity: 0.5;
    transition: opacity 0.2s ease;
    width: 10rem;

    &:hover {
      opacity: 1;
    }
  }

  &__description {
    @include mixins.font(typography-variables.$font-body-4);

    @include mixins.media('xs', 'md') {
      margin-bottom: 0.5rem;
    }
  }

  &__designed-in {
    opacity: 0.5;
  }

  &__link {
    color: currentColor;
    opacity: 0.5;
    text-decoration: none;
    transition: color, opacity 0.2s ease;

    &_logo {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }
}
