.tags-block {
  /*!*/

  &_alignment {
    &_start {
      justify-content: flex-start;
    }

    &_center {
      justify-content: center;
    }

    &_end {
      justify-content: flex-end;
    }
  }
}
