@use 'src/styles/colors';
@use 'src/styles/mixins';
@use 'src/styles/typography-variables';

.containerisation{
  display: flex;
  z-index: 999;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 362px;
  width: 264px;
  border-radius: 0px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "ALSAgrofont", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  right: 10px;
  label{
    color: black;
    font-family: "ALSAgrofont", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  input[type="radio"],input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    border-radius:0;
    outline: 3.59375px solid #000000;
    outline-offset: max(2px, 1px);
    margin-right: 20px;
    cursor: pointer;
  }
  input[type="radio"]:checked,input[type="checkbox"]:checked{
    border-radius:0;
    background-color: limegreen;
    outline: 3.59375px solid limegreen;

  }

  input[type="radio"]:focus {
    outline: 3.59375px solid limegreen;
    outline-offset: max(2px, 1px);
    background-color: limegreen;
  }
}

.list_views_restart_feture{
  cursor: pointer;
  text-decoration: underline;
  color: #FF5858;
  &:hover{
    color: #dc143c;
  }
}
.list_views_scale_feture{
  display: flex;justify-content: start;
  margin-top: 10px;
  div{
    color: black;
    border: 1px solid #D3D3D3;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    width: 38px;
    height: 38px;
    font-family: "ALSAgrofont", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    &:hover{
      background: #D3D3D3;
      color: white;
    }
    &:first-child{
      border-right: none;
    }
  }
}
.list_views_color_feture{
  display: flex;justify-content: start;
  margin-top: 10px;

  div{
    border: 1px solid #232636;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    width: 38px;
    height: 38px;
    &:hover{
      background: #D3D3D3;
      color: white;
    }
    &:first-child{
      border-right: none;
      color: black;
      &:hover{
        color: grey;
        background: none;
      }
    }
    &:nth-child(2) {
      background: #232636;
      color: white;
      &:hover{
        background: #383b4a;
      }
    }
    &:nth-child(3) {
      background: #9DD1FF;
      color: white;
      border-right: none;
      &:hover{
        background:#b7ddff;
      }
    }
    &:nth-child(4) {
      background: none;
      color: #3B2716;
      border-right: none;
      &:hover{
        background:#C4A484;
      }
    }
    &:nth-child(5) {
      background: #3B2716;
      color: greenyellow;
      border-right: none;
      &:hover{
        background:#6F4E37;
      }
    }
  }
}


.containerization{
  display:none;
}

.visually-impaired-mode {
  $selector: &;

  @include mixins.buttonCleanup();

  align-items: center;
  cursor: pointer;
  display: grid;
  grid-template-columns: min-content 1fr;
  opacity: 0.5;
  width: max-content;

  &_active {
    color: colors.$green;
    opacity: 1;
  }

  &_base-background-color {
    &_blue,
    &_darkBlue,
    &_deepBlue,
    &_default,
    &_green,
    &_orange,
    &_semiRed {
      &:hover {
        opacity: 1;
      }

      &#{$selector}_active {
        &:hover {
          opacity: 0.7;
        }
      }
    }

    &_blue,
    &_darkBlue,
    &_deepBlue,
    &_green,
    &_orange,
    &_semiRed {
      #{$selector}__icon {
        fill: colors.$text-color_dark-theme;
      }
    }
  }

  &_with-title {
    @include mixins.media('xs', 'md') {
      @include mixins.font(typography-variables.$font-body-1);
    }

    @include mixins.media('md', 'infinity') {
      @include mixins.font(typography-variables.$font-body-4);
    }

    opacity: 1;

    #{$selector}__icon {
      height: 1.6rem;
      width: 3rem;
    }
  }

  &__icon {
    fill: currentColor;

    @include mixins.media('xs', 'md') {
      height: 1.6rem;
      width: 3rem;
    }

    @include mixins.media('md', 'infinity') {
      height: 2.2rem;
      width: 3.8rem;
    }
  }

  &__title {
    width: max-content;
  }
}
