@use 'src/styles/colors';
@use 'src/styles/mixins';
@use 'src/styles/typography-variables';

.information-block {
  $selector: &;

  display: grid;
  justify-items: center;
  position: relative;

  &_base-background-color {
    &_default {
      #{$selector}__icon {
        fill: colors.$green;
      }
    }

    &_blue,
    &_darkBlue,
    &_deepBlue,
    &_green,
    &_orange,
    &_semiRed {
      #{$selector}__icon {
        fill: white;
      }
    }
  }

  &__icon {
    height: auto;
    width: 100%;

    @include mixins.media('xs', 'md') {
      max-width: 6.4rem;
    }

    @include mixins.media('md', 'infinity') {
      max-width: 17rem;
    }
  }

  &__title,
  &__description {
    text-align: center;
  }

  &__title {
    @include mixins.font(typography-variables.$font-h-2);

    font-weight: bold;
    margin-top: 1.5rem;
  }

  &__description {
    @include mixins.font(typography-variables.$font-body-2);

    margin-top: 1rem;
  }
}
