@use 'sass:map';
@use 'src/styles/colors';
@use 'src/styles/mixins';
@use 'src/styles/typography-variables';

.statistics-block {
  $selector: &;

  @include mixins.media('xs', 'md') {
    margin-top: 3rem;
  }

  @include mixins.media('md', 'infinity') {
    margin-top: 7.2rem;

    @include mixins.media('lg', 'infinity') {
      @include mixins.propertiesScale(
          (
            margin-top: (
              4rem,
              7.2rem,
            ),
          ),
          'xs',
          'lg',
          8,
          false,
          'height'
        )
        using($properties) {
        margin-top: map.get($properties, 'margin-top');
      }
    }
  }

  &_base-background-color {
    #{$selector}:not(&_default) {
      #{$selector}__tags {
        background-color: #000;
        mix-blend-mode: darken;
      }
    }
  }

  &__title {
    @include mixins.font(typography-variables.$font-body-2);

    @include mixins.media('xs', 'md') {
      margin-bottom: 4rem;
    }

    @include mixins.media('md', 'infinity') {
      margin-bottom: 8rem;
    }

    text-align: center;
  }

  &__tags-wrapper {
    justify-content: center;
    position: relative;
  }

  &__tags {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  &__animation {
    animation: spinning-rhombus 17s linear 1ms infinite;
    background-color: colors.$green;
    left: 50%;
    mix-blend-mode: screen;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);

    @keyframes spinning-rhombus {
      from {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      to {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}
